<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to install the required libraries

In [1]:
!pip install pandas
!pip install ipython-sql prettytable 

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: pandas in c:\users\minec\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\minec\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\minec\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\minec\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\minec\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\minec\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: ipython-sql in c:\users\minec\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\minec\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\minec\anaconda3\lib\site-packages (from ipython-sql) (8.30.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\minec\anaconda3\lib\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\minec\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\minec\anaconda3\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\minec\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\minec\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\minec\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\minec\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack-data in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\minec\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\minec\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing in c:\users\minec\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\minec\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\minec\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [3]:
import sqlite3
import pandas
con = sqlite3.connect("FinalDB.db")

Load the SQL magic module

In [4]:
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [5]:
#Chicago Census Data
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv"
df = pandas.read_csv(url)
df.to_sql("CHICAGO_CENSUS_DATA",con, if_exists='replace', index = False, method='multi')
#Chicago Public Schools
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv"
df = pandas.read_csv(url)
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA",con, if_exists='replace', index = False, method='multi')
#Chicago Crime Data
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv"
df = pandas.read_csv(url)
df.to_sql("CHICAGO_CRIME_DATA",con, if_exists='replace', index = False, method='multi')

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [ ]:
%sql sqlite:///FinalDB.db

Useful overview of tables and columns

In [18]:
%sql\
SELECT 'CHICAGO_CENSUS_DATA' AS table_name, name, type\
FROM PRAGMA_TABLE_INFO('CHICAGO_CENSUS_DATA')\
UNION ALL\
SELECT 'CHICAGO_PUBLIC_SCHOOLS_DATA' AS table_name, name, type\
FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA')\
UNION ALL\
SELECT 'CHICAGO_CRIME_DATA' AS table_name, name, type\
FROM PRAGMA_TABLE_INFO('CHICAGO_CRIME_DATA');

 * sqlite:///FinalDB.db
Done.

[('CHICAGO_CENSUS_DATA', 'COMMUNITY_AREA_NUMBER', 'REAL'),
 ('CHICAGO_CENSUS_DATA', 'COMMUNITY_AREA_NAME', 'TEXT'),
 ('CHICAGO_CENSUS_DATA', 'PERCENT_OF_HOUSING_CROWDED', 'REAL'),
 ('CHICAGO_CENSUS_DATA', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL'),
 ('CHICAGO_CENSUS_DATA', 'PERCENT_AGED_16__UNEMPLOYED', 'REAL'),
 ('CHICAGO_CENSUS_DATA', 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL'),
 ('CHICAGO_CENSUS_DATA', 'PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL'),
 ('CHICAGO_CENSUS_DATA', 'PER_CAPITA_INCOME', 'INTEGER'),
 ('CHICAGO_CENSUS_DATA', 'HARDSHIP_INDEX', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'School_ID', 'INTEGER'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'NAME_OF_SCHOOL', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Elementary, Middle, or High School', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Street_Address', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'City', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'State', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'ZIP_Code', 'INTEGER'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Phone_Number', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Link', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Network_Manager', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Collaborative_Name', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Adequate_Yearly_Progress_Made_', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Track_Schedule', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'CPS_Performance_Policy_Status', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'CPS_Performance_Policy_Level', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'HEALTHY_SCHOOL_CERTIFIED', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Safety_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'SAFETY_SCORE', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Family_Involvement_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Family_Involvement_Score', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Environment_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Environment_Score', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Instruction_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Instruction_Score', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Leaders_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Leaders_Score', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Teachers_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Teachers_Score', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Parent_Engagement_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Parent_Engagement_Score', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Parent_Environment_Icon', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Parent_Environment_Score', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'AVERAGE_STUDENT_ATTENDANCE', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Rate_of_Misconducts__per_100_students_', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Average_Teacher_Attendance', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Individualized_Education_Program_Compliance_Rate', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Pk_2_Literacy__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Pk_2_Math__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr3_5_Grade_Level_Math__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr3_5_Grade_Level_Read__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr3_5_Keep_Pace_Read__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr3_5_Keep_Pace_Math__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr6_8_Grade_Level_Math__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr6_8_Grade_Level_Read__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr6_8_Keep_Pace_Math_', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr6_8_Keep_Pace_Read__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr_8_Explore_Math__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Gr_8_Explore_Read__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'ISAT_Exceeding_Math__', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'ISAT_Exceeding_Reading__', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'ISAT_Value_Add_Math', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'ISAT_Value_Add_Read', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'ISAT_Value_Add_Color_Math', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'ISAT_Value_Add_Color_Read', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Students_Taking__Algebra__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Students_Passing__Algebra__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', '9th Grade EXPLORE (2009)', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', '9th Grade EXPLORE (2010)', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', '10th Grade PLAN (2009)', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', '10th Grade PLAN (2010)', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Net_Change_EXPLORE_and_PLAN', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', '11th Grade Average ACT (2011)', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Net_Change_PLAN_and_ACT', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'College_Eligibility__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Graduation_Rate__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'College_Enrollment_Rate__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'COLLEGE_ENROLLMENT', 'INTEGER'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'General_Services_Route', 'INTEGER'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Freshman_on_Track_Rate__', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'X_COORDINATE', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Y_COORDINATE', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Latitude', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Longitude', 'REAL'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'COMMUNITY_AREA_NUMBER', 'INTEGER'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'COMMUNITY_AREA_NAME', 'TEXT'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Ward', 'INTEGER'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Police_District', 'INTEGER'),
 ('CHICAGO_PUBLIC_SCHOOLS_DATA', 'Location', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'ID', 'INTEGER'),
 ('CHICAGO_CRIME_DATA', 'CASE_NUMBER', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'DATE', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'BLOCK', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'IUCR', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'PRIMARY_TYPE', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'DESCRIPTION', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'LOCATION_DESCRIPTION', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'ARREST', 'INTEGER'),
 ('CHICAGO_CRIME_DATA', 'DOMESTIC', 'INTEGER'),
 ('CHICAGO_CRIME_DATA', 'BEAT', 'INTEGER'),
 ('CHICAGO_CRIME_DATA', 'DISTRICT', 'INTEGER'),
 ('CHICAGO_CRIME_DATA', 'WARD', 'REAL'),
 ('CHICAGO_CRIME_DATA', 'COMMUNITY_AREA_NUMBER', 'REAL'),
 ('CHICAGO_CRIME_DATA', 'FBICODE', 'TEXT'),
 ('CHICAGO_CRIME_DATA', 'X_COORDINATE', 'REAL'),
 ('CHICAGO_CRIME_DATA', 'Y_COORDINATE', 'REAL'),
 ('CHICAGO_CRIME_DATA', 'YEAR', 'INTEGER'),
 ('CHICAGO_CRIME_DATA', 'LATITUDE', 'REAL'),
 ('CHICAGO_CRIME_DATA', 'LONGITUDE', 'REAL'),
 ('CHICAGO_CRIME_DATA', 'LOCATION', 'TEXT')]

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [22]:
%sql\
SELECT COUNT(*) AS TOTAL_NUMBER_OF_CRIMES FROM CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [102]:
%sql\
SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER\
FROM CHICAGO_CENSUS_DATA\
WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [42]:
%sql\
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_DATA\
WHERE DESCRIPTION LIKE '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [48]:
%sql\
SELECT * FROM CHICAGO_CRIME_DATA\
WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [57]:
%sql\
SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA\
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [71]:
%sql\
SELECT [Elementary, Middle, or High School] AS TYPE_OF_SCHOOL, ROUND(AVG(SAFETY_SCORE),1) AS AVERAGE_SAFETY_SCORE\
FROM CHICAGO_PUBLIC_SCHOOLS_DATA\
GROUP BY [Elementary, Middle, or High School]

 * sqlite:///FinalDB.db
Done.

[('ES', 49.5), ('HS', 49.6), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [70]:
%sql\
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY\
FROM CHICAGO_CENSUS_DATA\
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC\
LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [91]:
%sql\
SELECT COMMUNITY_AREA_NUMBER\
FROM CHICAGO_CRIME_DATA\
GROUP BY COMMUNITY_AREA_NUMBER\
ORDER BY COUNT(*) DESC\
LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0,)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [97]:
%sql\
SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX\
FROM CHICAGO_CENSUS_DATA\
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CHICAGO_CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [101]:
%sql\
SELECT COMMUNITY_AREA_NAME\
FROM CHICAGO_CENSUS_DATA\
WHERE COMMUNITY_AREA_NUMBER = (\
    SELECT COMMUNITY_AREA_NUMBER\
    FROM CHICAGO_CRIME_DATA\
    GROUP BY COMMUNITY_AREA_NUMBER\
    ORDER BY COUNT(*) DESC\
    LIMIT 1\
);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>